ncs
*.pyc
*.yin
!yang/*.yin
schema.json
schema-oper.json
schema-config.json
htmlcov/
.coverage
__pycache__
.tags
datastore/persist/*.pch
datastore/registered/*.pch
datastore/startup/*.pch
datastore/tmpfs/*
datastore/operational/*
datastore/running/*
persist/
yang/schema.xml
.cache/
covhtml/
